*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral colors */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--transparent-white);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
  width: 20%;
  border: 2px solid red;
  padding: 32px;
}

em {
  display: block;
}
